header {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--font-color);
    font-weight: var(--link-weight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
    margin-left: var(--page-border);
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1em;
}

img {
    height: 24px;
    margin-right: 4px;
}

button {
    background-color: unset;
    border: none;
    font-weight: var(--link-weight);
    color: var(--font-color);
    font-size: 1em;
    cursor: pointer;
}
