<header>
    <ul>
        <li><a href="https://www.linkedin.com/in/weschap/" target="_blank"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Linkedin-logo-blue-In-square-40px.png"
                    alt="LinkedIn Logo">LinkedIn</a></li>
        <li><a href="https://github.com/Nukambe" target="_blank"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/c/c2/GitHub_Invertocat_Logo.svg"
                    alt="GitHub Logo">GitHub</a></li>
        <li><button (click)="showIntroModal()"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg"
                    alt="Youtube Logo">Intro</button></li>
    </ul>
    <a [routerLink]="'/'">Wesley Chappell</a>
</header>
@if (showIntro) {
<app-intro (close)="closeIntroModal()"></app-intro>
}
