:host {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100%;
}

a {
    width: 255px;
    height: 255px;
    padding: 1em;
    background-color: white;
    box-shadow: 1px 1px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a:hover {
    animation: shake 0.1s ease-in-out;
    /* animation-iteration-count: infinite; */
}

img {
    width: 64px;
    height: 64px;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(-2deg);}
    66% { transform: rotate(2deg);}
    100% { transform: rotate(0deg); }
}

@media screen and (max-width: 1000px) {
    :host {
        flex-direction: column;
    }

    a {
        width: 255px;
        height: 200px;
    }
}

@media screen and (max-width: 420px) {
    :host {
        flex-direction: column;
    }

    a {
        width: 200px;
        height: 200px;
    }
}
