:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 1em 2em;
    font-size: larger;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 1px 1px 2px gray;
    transition: transform 0.05s linear;
}

button.active {
    box-shadow: inset 1px 1px 2px gray;
    transform: scale(0.98);
}

#tags {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

#skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
    margin: auto;
}


#skills li {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
    height: fit-content;
}

#skills li.hide {
    transform: scale(0.5);
    pointer-events: none;
}

@media screen and (max-width: 900px) {
    button {
        padding: 0.5em 1em;
    }

    #tags {
        gap: 0.5em;
    }

    #skills {
        gap: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 150px);
    }

    #skills li {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 600px) {
    :host {
        padding: 1em;
    }

    #tags {
        display: none;
    }

    #skills {
        gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 100px);
        margin: 0;
    }

    #skills li {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 410px) {
    #skills {
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 80px);
        margin: 0;
    }

    #skills li {
        transform: scale(0.75);
    }
}
