<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wesley Chappell</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="components/header.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>
    <main>
        <h1 th:text="${profile.getName()}">Wesley Chappell</h1>
        <div id="parallax-wrapper">
            <!--            <img id="parallax-bg" src="/images/avatar-bg.jpg" alt="background">-->
            <img id="parallax-fg" src="/images/avatar-fg.png" alt="foreground">
        </div>
    </main>
</body>
<script>
    const me = document.getElementById("parallax-fg");
    const avatar = document.getElementById("parallax-wrapper");
    const high = 5;
    const low = high * -1;
    const position = 1;
    const rect = avatar.getBoundingClientRect();
    const midX = (rect.right - rect.left) / 2 + rect.left;
    const midY = (rect.bottom - rect.top) / 2 + rect.top;
    let hovering = false;

    avatar.addEventListener("mouseenter", () => hovering = true);
    avatar.addEventListener("mouseleave", () => hovering = false);
    document.addEventListener("mousemove", parallax);

    function parallax(event) {
        if (hovering) {
            const x = (event.pageX / window.innerWidth) * (high * 2) + low;
            const y = (event.pageY / window.innerHeight) * (high * 2) + low;
            const scaleX = ((event.pageX - midX) / midX) * 10;
            const scaleY = ((event.pageY - midY) / midY) * 10;
            console.log({
                scaleX,
                scaleY
            });
            me.style.transform = `translateX(${x * 2}%) translateY(${y}%)`;
        } else {
            me.style.transform = `translateX(0%) translateY(0%) skew(0deg, 0deg)`;
        }
    }
</script>
</html>