<div id="parallax-wrapper" #parallaxWrapper>
    <img id="parallax-fg" src="images/avatar-fg.png" alt="foreground" #parallaxFg>
</div>
<h1>
    Wesley Alexander Chappell
</h1>
<h2>Software Engineer</h2>
<p>
    Passionate Software Engineer with expertise in Java, Python, JavaScript, SQL, and OOP. Experienced in full-stack
    development, working with REST APIs and PostgreSQL and MySQL databases. Strong problem-solving and debugging skills,
    focused on delivering clean, maintainable code and user-friendly solutions in dynamic environments.
</p>
