:root {
    --background-color: #333;
    --content-height: 88vh;
    --content-width: 94vw;
    --page-border: calc((100vw - var(--content-width)) / 2);
    --font-color: #333;
    --link-weight: 800;
}

body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-image: url(https://toptal.com/designers/subtlepatterns/uploads/triangle-mosaic.png);
}

app-root {
    height: var(--content-height);
    width: var(--content-width);
    background-color: white;
    border-radius: 8px;
    box-shadow: inset 0px 0px 4px black;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/fabric_1.png);
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: var(--link-weight);
}
